# PostgreSQL (Neon) Configuration
MLFLOW_BACKEND_STORE_URI="postgresql://neondb_owner:xxxxxxx@xxxxxx.tech/neondb?sslmode=require&channel_binding=require"

# AWS S3 Configuration
# jedha-mlflow user (clé MLFlow-37)
AWS_ACCESS_KEY_ID="xxxxx"
AWS_SECRET_ACCESS_KEY="xxxxx"
AWS_DEFAULT_REGION="eu-west-3"
AWS_REGION="eu-west-3"
S3_BUCKET_NAME="monbucket"
AWS_CHECK="no"

# config MLFlow
MLFLOW_URI="monid-monapp.hf.space"
PORT=7860

# S3 Endpoint (optionnel - pour MinIO ou S3 compatible)
# S3_ENDPOINT_URL=https://s3.amazonaws.com

# MLflow Authentication (optionnel mais recommandé)
#MLFLOW_USERNAME=admin
#MLFLOW_PASSWORD=your_secure_password

# pour tester avec le client AWS CLI
# aws login => s'auth avec son IAM user principal
# créer fichier ~/.aws/credentials et y mettre le profil pour la clé
# aws s3 ls --profile jedha-mlflow s3://aws-s3-mlflow/mlflow-artifacts/
MLFLOW_ARTIFACT_ROOT="s3://monbucket/mlflow-artifacts"
